<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Esta es la vista del about</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <h1>Las clases disponibles son:</h1>
  <ol>
    {{#if clase1}}
      <li>{{clase1}}</li>
    {{/if}}
    {{#if clase2}}
      <li>{{clase2}}</li>
    {{/if}}
    {{#if clase3}}
      <li>{{clase3}}</li>
    {{/if}}

  </ol>
</body>
</html>
