<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <h1>Hola {{nombre}}</h1>
  <p>Bienvenido al {{bootcamp}}</p>
  <p>La direccion del lugar es: {{address}}</p>
</body>
</html>
